In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
housing_data = pd.read_csv('datasets/housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
9052,-118.12,34.71,46.0,40.0,10.0,14.0,7.0,1.1250,225000.0,INLAND
391,-122.30,37.90,15.0,5083.0,1212.0,2420.0,1146.0,4.5824,256100.0,NEAR BAY
5178,-118.26,33.94,45.0,1080.0,218.0,850.0,237.0,2.2500,93400.0,<1H OCEAN
4768,-118.36,34.04,34.0,3239.0,806.0,2331.0,765.0,2.0538,125800.0,<1H OCEAN
4095,-118.40,34.15,44.0,2515.0,510.0,967.0,484.0,5.0754,374500.0,<1H OCEAN

In [7]:
housing_data.loc[housing_data['median_house_value'] == 500001].index

Int64Index([   89,   459,   493,   494,   509,   510,   511,   512,   514,
              517,
            ...
            20326, 20335, 20367, 20380, 20389, 20422, 20426, 20427, 20436,
            20443],
           dtype='int64', length=965)

In [8]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [9]:
housing_data.shape

(19675, 10)

In [10]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [12]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0

In [13]:
median = housing_data['median_house_value'].median()
median

173800.0

In [14]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [22]:
housing_data = housing_data.dropna();

In [23]:
X = housing_data.drop(['median_house_value','above_median'], axis = 1)

In [24]:
Y = housing_data['above_median']

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [26]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [27]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [28]:
print("training score: ", logistic_model.score(x_train, y_train))

training score:  0.8188703465982028

In [29]:
logistic_model.score(x_test, y_test)

0.8254172015404364

In [31]:
y_pred = logistic_model.predict(x_test)

In [32]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

In [38]:
df_pred_actual.head(10)

       predicted  actual
4617       False    True
9339        True    True
9404        True    True
8318       False    True
2466       False   False
5378        True    True
10989       True    True
8230       False   False
11734      False   False
17207       True    True

In [39]:
from sklearn.metrics import accuracy_score
print("Testing score: ", accuracy_score(y_test, y_pred))

Testing score:  0.8254172015404364