In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
housing_data = pd.read_csv('datasets/housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20355,-118.96,34.19,16.0,1807.0,346.0,587.0,296.0,1.9811,162500.0,<1H OCEAN
18427,-121.83,37.25,17.0,2332.0,637.0,1636.0,623.0,3.1932,123400.0,<1H OCEAN
4677,-118.34,34.08,52.0,1421.0,163.0,495.0,167.0,10.5860,500001.0,<1H OCEAN
8069,-118.18,33.83,39.0,3622.0,745.0,1330.0,648.0,3.3125,425500.0,NEAR OCEAN
13939,-117.27,34.23,26.0,6339.0,1244.0,1177.0,466.0,3.7708,110400.0,INLAND

In [4]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             965
latitude              965
housing_median_age    965
total_rooms           965
total_bedrooms        958
population            965
households            965
median_income         965
median_house_value    965
ocean_proximity       965
dtype: int64

In [16]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [17]:
housing_data.shape

(19675, 10)

In [18]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [19]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [25]:
housing_data.shape

(19675, 14)

In [24]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
2889,-118.99,35.39,52.0,2805.0,573.0,1325.0,522.0,2.5083,70100.0,0,1,0,0,0
17699,-121.82,37.28,31.0,1340.0,235.0,1336.0,270.0,4.2361,179500.0,1,0,0,0,0
2423,-119.55,36.60,18.0,2379.0,448.0,1638.0,436.0,2.3090,57100.0,0,1,0,0,0
18224,-122.09,37.40,36.0,1575.0,379.0,1036.0,382.0,5.1408,264700.0,0,0,0,1,0
9078,-118.14,34.69,48.0,1379.0,327.0,696.0,304.0,2.1167,94900.0,0,1,0,0,0

In [23]:
X = housing_data.drop(['median_house_value'],axis=1)
Y = housing_data('median_house_value')

TypeError: 'DataFrame' object is not callable